@import "tailwindcss";

/** ↓これないとhover効かなくなる https://github.com/tailwindlabs/tailwindcss/issues/16531 **/
@custom-variant hover {
  &:hover {
    @slot;
  }
}

body {
  font-family: "游ゴシック体", "Yu Gothic", "YuGothic", sans-serif;
}
